# Node.js
frontend/node_modules/
frontend/.next/

# Laravel / PHP
backend/vendor/
backend/node_modules/
backend/storage/
backend/bootstrap/cache/

# Logs e arquivos temporários
*.log
*.cache
.DS_Store

# Docker
**/docker-compose.override.yml

# VSCode
.vscode/

# Outros arquivos temporários
*.swp
